{{!-- 
    Partial CreateArticle
    :createArticle
--}}

<form action="/article" method="post">
    <input type="text" name="title" placeholder="Title" value="{{ user.pseudo }}" />    
    <button type="submit">Confirmer</button>
</form>