{{!-- Html --}}
<div>
    <h2>Authentification</h2>

    {{!-- Formulaire Login / Connexion --}}
    <form action="/login" method="post">
        <div class="row">
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="row">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit"> Me connecter </button>
    </form>
    
</div>

{{!-- Css --}}
<style>
    .row {
        display: flex;
    }
</style>
